#root {
    display: flex;
    flex-direction: column;
    position: relative;
}

#ball-canvas {
    position: absolute;
}

#racquet-canvas {
    position: absolute;
}

canvas {
    border: solid 1px;
}